#imports("gclus") ## we use :: for gclus in seriate.hclust
#imports("cluster") ## we use :: for silhouette in dissplot

export(
    EMM,
    states,
    size,
    state_counts,
    state_centers,
    transitions,

    build,
    transition,
    transition_matrix,
    merge_states,
    remove_states,
    remove_transitions,
    remove_selftransitions,
    cluster_states,
    predict_state,
    find_states,
    score,
    age,
    rare_states,
    rare_transitions,
    prune
)

S3method("plot", "EMM")
